
ul, ol {
	margin-left: 0px;
	padding-left: 0px;
}
.sortedItem, .itemToSort {

	background-color: #fffeff;
	border: 1px solid #eee;
	margin: 3px;
	padding: 3px 3px 3px 10px;
	cursor: pointer;
	list-style-type: none;
}

}
.itemToSort:hover {
	background-color: #c0ebfe;
}

.ui-state-highlight { 
	height: 1.5em; 
	line-height: 1.2em; 
	
	background-color: #fff9d8;
}
