<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rankalist - What's more important?</title>
    <meta name="description" content="Use relative ranking to get decisions made">
    <meta name="author" content="Marc Hughes">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<link rel="stylesheet" href="{{STATIC_URL}}bootstrap.min.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{STATIC_URL}}site.css" type="text/css" media="screen, projection">

	<script src="{{STATIC_URL}}jquery.min.js" type="text/javascript"></script>
	<script src="{{STATIC_URL}}jquery-ui.min.js" type="text/javascript"></script>	

    <style type="text/css">
      /* Override some defaults */
      html, body {
        background-color: #eee;
      }
      body {
        padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
      }
      .container > footer p {
        text-align: center; /* center align it with the container */
      }
      .container {
        width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
      }

      /* The white background content wrapper */
      .container > .content {
        background-color: #fff;
        padding: 20px;
        margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
        -webkit-border-radius: 0 0 6px 6px;
           -moz-border-radius: 0 0 6px 6px;
                border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
      }

      /* Page header tweaks */
      .page-header {
        background-color: #f5f5f5;
        padding: 20px 20px 10px;
        margin: -20px -20px 20px;
      }

      /* Styles you shouldn't keep as they are for displaying this base example only */
      .content .span10,
      .content .span4 {
        min-height: 500px;
      }
      /* Give a quick and non-cross-browser friendly divider */
      .content .span4 {
        margin-left: 0;
        padding-left: 19px;
        border-left: 1px solid #eee;
      }

      .topbar .btn {
        border: 0;
      }

    </style>
	{% block extra_head %}{% endblock %}
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">Rank a list</a>
<!--          <form action="" class="pull-right">
            <input class="input-small" type="text" placeholder="Username">
            <input class="input-small" type="password" placeholder="Password">
            <button class="btn" type="submit">Sign in</button>
          </form>
-->
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        <div class="page-header">
		{% block pageheader %}
          <h1>Rank a list <small></small></h1>
		{% endblock %}
        </div>
        <div class="row">
          <div class="span10">
            {% block maincontent %}<h2>Main content</h2>
			{% endblock %}
          </div>
          <div class="span4">
	        {% block secondarycontent %}<h3>Secondary content</h3>
			{% endblock %}            
          </div>
        </div>
      </div>

      <footer>
		<hr />
		<center>
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style addthis_32x32_style" style="width: 400px; margin: 0 auto;">
		<a class="addthis_button_preferred_1"></a>
		<a class="addthis_button_preferred_2"></a>
		<a class="addthis_button_preferred_3"></a>
		<a class="addthis_button_digg"></a>
		<a class="addthis_button_google_plusone"></a>
		<a class="addthis_button_compact"></a>
		<a class="addthis_counter addthis_bubble_style"></a>
		</div>
		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e962b1e4c0ce05f"></script>
		<!-- AddThis Button END -->

		<br/><br/>
		</center>
		<p>Sponsored by <a href="http://www.scrumdo.com/">ScrumDo</a> - the popular <a href="http://www.scrumdo.com/">scrum tool</a></p>
        <p>&copy; Rogue Software Development LLC 2012</p>
      </footer>

    </div> <!-- /container -->
	<script type="text/javascript">
	  var _gauges = _gauges || [];
	  (function() {
	    var t   = document.createElement('script');
	    t.type  = 'text/javascript';
	    t.async = true;
	    t.id    = 'gauges-tracker';
	    t.setAttribute('data-site-id', '50060fd9613f5d1777000003');
	    t.src = '//secure.gaug.es/track.js';
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(t, s);
	  })();
	</script>
  </body>
</html>


