{% extends "rankalist/base.html" %}
{% load uni_form_tags %}


{% block topbar %}{% endblock %}

{% block secondarycontent %}
<h3>Wasn't that easy?</h3>
<p>Now that you've created your list, you can send the "Vote URL" to people whom you want to vote on the list.  Save the "Results URL" for yourself so you can see how they voted.</p>
{% endblock %}

{% block pageheader %}
  <h1>You're all set!</h1>
{% endblock %}

{% block maincontent %}

	
  <div class="alert-message block-message success span9">
	<strong>Well Done!</strong>  You created your list.  Now, make sure to make a note of the two urls below.  Since we don't make you sign up for an
	account, you'll need them to access this list later.
  </div>

  <div class="alert-message block-message info span9">
	<h3>Vote URL</h3>
    Send this URL to anyone you want to rank your list:<br/>
	<a href="{% url vote list.key %}">http://www.rankalist.com{% url vote list.key %}</a>
  </div>

  <div class="alert-message block-message info span9">
	<h3>Results URL</h3>
    Send this URL to anyone you want to see the results of the ranking:<br/>
	<a href="{% url results list.adminKey %}">http://www.rankalist.com{% url results list.adminKey %}</a>
  </div>


  
{% endblock %}

