{% extends "rankalist/base.html" %}
{% load uni_form_tags %}


{% block topbar %}{% endblock %}

{% block pageheader %}<h1>Create a list <small>get rankings</small></h1>{% endblock %}

{% block secondarycontent %}
<h3>What is this?</h3>
<p>Ever get told that three different things are top priority?  Ever ask for a list to be ranked only to get it back
	 and every item except one is marked "high", the other being "critical"?  Need business input in ranking your backlog?
</p>
<p>
	I think we can help.
</p>
<h3>How do I get started?</h3>
<p>
	Enter the items you want ranked in the "items" field on the left, one per line.  We'll give you a URL you can send around that lets people
  rank the items, but forces an absolute ordering between them.  
</p>
<p>
	Want to <a href="http://www.rankalist.com/vote/UuynM0q3">see an example</a> of what it's like to rank a list?
</p>
<p>
	 It's super simple, no signing up.  No passwords.
</p>
<h3>Is that secure?</h3>
<p>
	 The URL generated is private for you and secured with a randomized token.  
	 We don't let web crawlers see them.  So as long as you don't post it publicly, it's safer than guessable 
	 passwords that most people pick.
</p>
{% endblock %}

{% block maincontent %}
  <form method="POST" action="">          
       <fieldset>
           <div id="div_id_instructions" class="clearfix">

				<label for="id_instructions" class="requiredField">Instructions</label> 
				<div class="input">
				<textarea id="id_instructions" rows="3" cols="40" name="instructions" class="textarea span7">Please rank these items in order of importance.</textarea>
				<span class="help-block">
					Anyone ranking this list will see these instructions.
				</span>
				</div>
			
			<br/>
			<div id="div_id_items" class="ctrlHolder">
				<label for="id_items" class="requiredField">Items</label> 
				<div class="input">
				<textarea id="id_items" rows="15" cols="40" name="items" class="textarea span7"></textarea>
				<span class="help-block">
					Enter one item per line.
				</span>

				</div>
			</div>

		   {% csrf_token %}            
          <input type="hidden" name="action" value="create" />               
          <div class="actions">
            <input type="submit" class="btn primary" value="Create List">
          </div>
       </fieldset>                        
   </form>
  


{% endblock %}

