{% extends "rankalist/base.html" %}
{% load uni_form_tags %}


{% block topbar %}{% endblock %}

{% block pageheader %}<h1>Results</h1>{% endblock %}

{% block secondarycontent %}
<h3>Waiting for results...</h3>
<p>As people fill out your ranking, their results will fill up here.  </p>
<p>In case you forgot, the vote url is:<br><small><a href="{% url vote list.key %}">http://www.rankalist.com{% url vote list.key %}</a></small></p>

<h3>Create another list</h3>
Want to create another list?<br/>
<br/>
<center><a href="/" class="btn success">Create another list</a></center>

<br/><br/>
<h3>Do you Scrum?</h3>
Then check out <a href="http://www.scrumdo.com/">ScrumDo</a>, an agile project management website.


{% endblock %}

{% block maincontent %}
<div class="resultsBody">

<p>{{ list.instructions }}</p>

<h3>Average Rankings:</h3>
<ol style="margin-left:25px">
{% for item in averages %}
 <li>{{item.text}}</li>
{% endfor %}
</ol>

{% for voter in list.voters.all %}
<h3>{{ voter.name }}</h3>
<ol style="margin-left:25px">
  {% for vote in voter.votes.all %}
  <li>{{vote.item.text}}</li>
  {% endfor %}
</ol>
{% endfor %}

</div>


{% endblock %}

