{% extends "rankalist/base.html" %}
{% load uni_form_tags %}


{% block topbar %}{% endblock %}

{% block pageheader %}
  <h1>Thanks!</h1>
{% endblock %}
{% block maincontent %}
 
<div class="alert-message block-message info span9">
	
  <p><b>You're all set.</b> Whomever sent you this has a URL to see the results, ask them for it if you'd like to see everyone else's responses.</p>
</div>

{% endblock %}

{% block secondarycontent %}
<h3>Create a list</h3>
Want to create your own list for others to rank?  It's quick, easy, and free.<br/>
<br/>
<center><a href="/" class="btn success">Create your own list</a></center>

<br/><br/>

<h3>Do you Scrum?</h3>
Then check out <a href="http://www.scrumdo.com/">ScrumDo</a>, an agile project management website.

{% endblock %}

