{% extends "rankalist/base.html" %}
{% load uni_form_tags %}


{% block topbar %}{% endblock %}

{% block extra_head %}
<script src="{{STATIC_URL}}vote_sort.js" type="text/javascript"></script>
{% endblock %}

{% block pageheader %}
<h2>{{ list.instructions }}</h2>
{% endblock %}

{% block maincontent %}



<div id="itemsToRank">
	<h3 id="stepInstruction" class="alert-message info span9">Click the item you think should rank the highest</h3>
	<ul id="items">
	  {% for item in list.items.all %}
	    <li item_id="{{item.id}}" class="itemToSort">{{item.text}}</li>
	  {% endfor %}
	</ul>
</div>


<div id="submitRanking" style="display:none">
	<a name="submitRank"></a>
	<h3 class="alert-message info span9">Submit Your Ranking</h3>
	<p>Almost done!  Tell us your name and click the button.</p>
	<form id="submitRank" class="uniForm" method="POST" action="">          
       <fieldset class="inlineLabels">
           <div id="div_id_name" class="ctrlHolder">
	            <label for="id_name" class="requiredField">
	                Name
	            </label>
				<div class="input">
		        <input id="id_name" type="text" class="textInput textinput" name="name" />
				</div>
		    </div>
		   {% csrf_token %}            
           <div class="form_block">
               <input type="hidden" name="action" value="create" />               
               <div class="actions">
                  <button id="createButton" class="btn primary" type="submit" >Submit Ranking</button>
               </div>
           </div>
       </fieldset>                        
   </form>
</div>
{% endblock %}

{% block secondarycontent %}
<div id="yourRanking" style="display:none" >
	<h3>Your ranking:</h3>

	<ol id="sorted">
	</ol>
	
	The top item is your highest rank.  You can drag them up or down if you change your mind. 
		You must rank all items to submit.
</div>








<script type="text/javascript" charset="utf-8">



	$(".itemToSort").click(function(){
		$(this).hide();

		$("#sorted").append("<li item_id='" + $(this).attr("item_id") + "' class='sortedItem'>" + $(this).text() + "</li>");
		$("#stepInstruction").text("Choose the next highest rank...");
		$("#yourRanking").fadeIn();
		if( $("#items li:visible").size() == 0 )
		{
			$("#itemsToRank").hide();
			$("#submitRanking").show();
		}
		$("#sorted").sortable({
					placeholder: "ui-state-highlight"
				});

	});
	
	
	
	$("#submitRank").submit(
		function() {
			if( $("#id_name").val() == "" )
			{
				alert("Please enter your name first.");
				return false;
			}
			
			var orders = "";
			
			$("#sorted li").each(function(){
				orders = orders + $(this).attr("item_id") + " ";
			});
			
			var input = $("<input>").attr("type", "hidden").attr("name", "orders").val(orders);
			$('#submitRank').append($(input));
			
		}
	);
</script>

{% endblock %}

